@media (min-width: $container-width) {
  .columns form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .form-field {
      flex: 0 0 calc((100% / #{$columns}) - (#{$gap} / #{$columns}));
    }
    .buttons {
      flex: 1 0 100%;
    }
  }
}

.form-field {
  margin-top: $font-size * $line-height / 2;
  text-align: left;
  label {
    display: block;
    font-size: 0.825em;
  }
  .required {
    display: none;
  }
}

form .buttons {
  text-align: center;
  margin: auto;
  margin-top: $font-size * $line-height;
}

input[type=number],
input[type=email],
input[type=text],
textarea {
  position: relative;
  display: block;
  transition: all $transition-time ease;
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  outline: none;
  width: 100%;
  padding: ($font-size * $line-height / 4) 0;

  background: linear-gradient($body-color, $body-color) left bottom no-repeat;
  background-size: 75% 3px;
  .inverse & {
    background: linear-gradient($body-bg, $body-bg) left bottom no-repeat;
    background-size: 75% 3px;
  }

  &:focus, &:valid {
    background-size: 100% 3px;
    outline: none;
  }
}

button,
.button {
  @include button();
}

