@mixin button() {
    transition: all $transition-time ease;
    font: inherit;
    padding: 0.25em 1em;
    margin: 0;
    outline: 0;
    line-height: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;

    color: $body-color;
    border: 3px solid currentColor;
    &:focus, &:hover {
        background-color: lighten($body-bg, 10%);
    }

    .inverse & {
        color: $body-bg;
        &:focus, &:hover {
            background-color: darken($body-color, 10%);
        }
    }
}

@mixin set-colors($fg, $bg) {
    background-color: $bg;
    color: $fg;
    a {
        text-shadow:
            1px 1px 0 $bg,
            1px -1px 0 $bg,
            -1px -1px 0 $bg,
            -1px 1px 0 $bg;
    }
    ::selection {
        background: transparentize($fg, 1/3);
        color: $bg;
    }
}

@mixin lock-font-size($size-baseline, $size-increase, $break-small, $break-large) {
    $x1: $break-small;
    $x2: $break-large;
    $y1: 0;
    $y2: $size-increase;

    $m: ($y2 - $y1) / ($x2 - $x1);
    $b: $y1 - ($m * $x1);

    font-size: $size-baseline;

    @media (min-width: $break-small) {
      font-size: calc( #{$size-baseline} + #{$m * 100vw} + #{$b} );
    }

    @media (min-width: $break-large) {
      font-size: calc( #{$size-baseline} + #{$size-increase} );
    }
}

@mixin screenreader-only() {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

@mixin screenreader-only-focusable() {
    &:active,
    &:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

@mixin screenreader-only-focusable-button() {
    &:active,
    &:focus {
        position: absolute;
        @include button();
    }
}

@mixin clip-section($amount: 10px) {
    clip-path: polygon(0% 0%, 100% $amount, 100% 100%, 0% calc(100% - #{$amount}));
}