body {
    font-family: $font-body;
    font-weight: $weight-body;
    line-height: $line-height;
    font-size: $font-size;
}


a {
    color: $link-color;
    .inverse & {
        color: $inverse-link-color;
    }
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: center $link-underline-offset;
    background-repeat: no-repeat;
    background-size: 0 1.5px;
    transition: all $transition-time ease;
    &:hover, &:focus {
        background-size: 100% 1.5px;
        outline: none;
    }


}

h1, h2, h3, h4 {
    font-family: $font-heading;
    font-weight: $weight-heading;
}

h1,
.h1 {
    font-size: $heading-1-size;
}



h2,
.h2 {
    font-size: $heading-2-size;
}
:-webkit-any(section, article, aside, nav) h1 {
    font-size: $heading-2-size;
}
:-moz-any(section, article, aside, nav) h1 {
    font-size: $heading-2-size;
}



h3,
.h3 {
    font-size: $heading-3-size;
}
:-webkit-any(section, article, aside, nav) h2,
:-webkit-any(section, article, aside, nav)
:-webkit-any(section, article, aside, nav) h3 {
    font-size: $heading-3-size;
}
:-moz-any(section, article, aside, nav) h2,
:-moz-any(section, article, aside, nav)
:-moz-any(section, article, aside, nav) h3 {
    font-size: $heading-3-size;
}



h4,
.h4 {
    font-size: $heading-4-size;
}
:-webkit-any(section, article, aside, nav) h3,
:-webkit-any(section, article, aside, nav)
:-webkit-any(section, article, aside, nav) h4,
:-webkit-any(section, article, aside, nav)
:-webkit-any(section, article, aside, nav)
:-webkit-any(section, article, aside, nav) h5 {
    font-size: $heading-4-size;
}
:-moz-any(section, article, aside, nav) h3,
:-moz-any(section, article, aside, nav)
:-moz-any(section, article, aside, nav) h4,
:-moz-any(section, article, aside, nav)
:-moz-any(section, article, aside, nav)
:-moz-any(section, article, aside, nav) h5 {
    font-size: $heading-4-size;
}



h5,
.h5 {
    font-size: $heading-5-size;
    font-style: italic;
}
:-webkit-any(section, article, aside, nav) h4,
:-webkit-any(section, article, aside, nav)
:-webkit-any(section, article, aside, nav) h5,
:-webkit-any(section, article, aside, nav)
:-webkit-any(section, article, aside, nav)
:-webkit-any(section, article, aside, nav) h6 {
    font-size: $heading-5-size;
    font-style: italic;
}
:-moz-any(section, article, aside, nav) h4,
:-moz-any(section, article, aside, nav)
:-moz-any(section, article, aside, nav) h5,
:-moz-any(section, article, aside, nav)
:-moz-any(section, article, aside, nav)
:-moz-any(section, article, aside, nav) h6 {
    font-size: $heading-5-size;
    font-style: italic;
}


h6,
.h6 {
    font-size: $heading-6-size;
}
:-webkit-any(section, article, aside, nav) h5,
:-webkit-any(section, article, aside, nav)
:-webkit-any(section, article, aside, nav) h6 {
    font-size: $heading-6-size;
}
:-moz-any(section, article, aside, nav) h5,
:-moz-any(section, article, aside, nav)
:-moz-any(section, article, aside, nav) h6 {
    font-size: $heading-6-size;
}



strong, b {
    font-weight: $weight-body-bold;
}

pre, code {
    font-family: $font-code;
    font-size: 14px;
    line-height: $line-height * 18/14;
}

pre, blockquote {
    padding-top: $line-height * 0.5em;
    padding-bottom: $line-height * 0.5em;
}
code {
    padding: 0;
}

blockquote {
    margin-left: 0.5em;
    padding-left: 0.5em;
    border-left: 0.5em solid $body-color;
    cite {
        display: block;
        text-align: right;
        &:before {
            content: '—';
        }
    }
}

main {
    section > .container > p:first-of-type:first-letter {
        color: darken($body-color, 10%);
        font-size: 4em;
        float: left;
        margin-right: 0.5rem;
        line-height: 0.57;
        font-weight: $weight-heading;
        font-family: $font-heading;
    }
    .inverse .container > p:first-of-type:first-letter {
        color: darken($body-bg, 10%);
    }
    .no-drop .container > p:first-of-type:first-letter {
        color: inherit;
        font: inherit;
        float: none;
        margin: 0;
        line-height: inherit;
    }
    h1, h2, h3, h4, h5, h6 {
        text-transform: lowercase;
    }
    li > :first-child {
        margin-top: 0;
    }
    li > :last-child {
        margin-bottom: 0;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}