{% extends 'partials/base.html.twig' %}

{% block content %}
	<article>
		{% include 'partials/page-title.html.twig' %}
		<section>
			<div class="container">
				{{ page.content }}
			</div>
		</section>
	</article>
{% endblock %}
