{% extends 'partials/base.html.twig' %}

{% block content %}
    <article>
        {% include 'partials/page-title.html.twig' %}
        <div class="container">
            <p>{{ page.content }}</p>
        </div>
    </article>
{% endblock %}
