{% extends 'partials/base.html.twig' %}

{% block content %}
	<article>
		{% include 'partials/page-title.html.twig' %}
		{% if content %}
		<section>
			<div class="container">
				{{ content }}
			</div>
		</section>
		{% endif %}
		<section>
			<div class="container">
				{% include "forms/form.html.twig" %}
			</div>
		</section>
	</article>
{% endblock %}

