{% extends 'partials/base.html.twig' %}

{% block content %}

	<article class="container">

		{{ content }}

		<p class="alert">{{ form.message }}</p>
		<p>Your submission:</p>

		{% include "forms/data.html.twig" %}
	</article>

{% endblock %}
