article {
  > header:first-child {
    @include clip-section();
    position: relative;
    z-index: 3;
    perspective: 15em;
    padding: $gap 1em;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: $inverse-bg;
    color: $inverse-color;

    main > &.jumbotron {
      min-height: 66vh;
    }

    > * {
      margin: 0.5rem auto;
      text-shadow: 0 0.03em 0 $inverse-bg;
    }

    &, a {
      color: $inverse-color;
      text-shadow: inherit;
    }

    h1 {
      span {
        display: block;
        transform: rotateX(2deg);
        transition: all 200ms ease;
      }
      line-height: 1.1;
      @include lock-font-size(3rem, 1.5em, $container-width, $container-width + 30em);
    }
    h1 + .byline {
      text-transform: lowercase;
      position: relative;
      display: inline-block;
      font-size: 1.25em;
    }
  }
  &[role="listitem"] > header:first-child h1 {
    @include lock-font-size(2rem, 1.25em, $container-width, $container-width + 30em);
  }
}
