main > article {
    h1, h2, h3, h4, h5, h6 {
        text-transform: lowercase;
    }
    p, ul, ol, dl, pre {
        margin-top: 0;
        margin-bottom: $line-height * 1em;
    }
    > :first-child,
    > section > :first-child {
        margin-top: 0;
    }
    > :last-child,
    > section > :last-child {
        margin-bottom: 0;
    }
    > section {
        > .container {
            margin: auto;
            padding: $gap 1em;
        }
    }
    @media (min-width: $container-width) {
        h1, h2, h3, h4, .break-columns {
            text-align: center;
            column-span: all;
            + * {
                margin-top: 0;
            }
        }
        .align-right {
            max-width: 60%;
            height: auto;
            float: right;
            margin: 0.5em 1.5em;
            margin-right: -1/3 * $column-gap;
        }
        .align-left {
            max-width: 60%;
            height: auto;
            float: left;
            margin: 0.5em 1.5em;
            margin-left: -1/3 * $column-gap;
        }
        .pull-up {
            margin-top: -100px;
        }
    }
}