$portfolio-offset: 33.333%;
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  > article {
    &:nth-child(4n - 1),
    &:nth-child(4n + 2) {
      flex: 1 0 $portfolio-offset;
    }
    &:nth-child(4n),
    &:nth-child(4n + 1) {
      flex: 1 0 (100% - $portfolio-offset);
    }
    flex: 1;
    min-height: $gap * 4;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    h1 a {
      color: $inverse-color;
      opacity: 0;
    }
    &:hover h1 a,
    h1 a:focus {
      opacity: 1;
    }
  }
}