main section {
    padding: $gap/2 0;
    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }
    @media (min-width: $container-width) {
        padding: $gap 0;
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }
    }
    .container {
        overflow: hidden;
    }
}

section:not(.inverse) + section:not(.inverse) {
    padding-top: 0;
}

section.inverse {
    @include clip-section();
    @include set-colors($body-bg, $body-color);
}

section.raw-content.columns {
    blockquote, ul, ol, dl, pre {
        break-inside: avoid;
    }
    @media (min-width: $container-width) {
        h1, h2, h3, h4, h5, h6, .break-columns {
            column-span: all;
            + * {
                margin-top: 0;
            }
        }
        > .container {
            columns: $columns (($container-width - ($column-gap * ($columns - 1))) / $columns);
            column-gap: $column-gap;
        }
    }
}

section.hide-header h1 {
    @include screenreader-only();
}