.modular-teaser-grid {
  .teaser {
    @include set-colors($body-color, darken($body-bg, 6%));
    @include clip-section(5px);
    padding: 1em;
    margin: 1em auto;
  }
  .inverse .teaser {
    @include set-colors($inverse-color, lighten($inverse-bg, 6%));
  }
  @media (min-width: $container-width) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      margin-left: -0.5em;
      margin-right: -0.5em;
      .teaser {
        display: flex;
        flex-direction: column;
        h2 {
          margin-top: 0;
          margin-bottom: 0.5em;
        }
        .content {
          flex: 1;
        }

        margin: 0.5em;
        flex: 1 0 calc(33.33% - 1em);

        &:nth-child(3n):nth-last-child(2),
        &:nth-child(3n + 1):nth-last-child(1) {
          flex: 1 0 calc(50% - 1em);
        }
      }
    }
  }
}